@{
    ViewData["Title"] = "Home page";
}

<div id="homepage" class="container">

    <section id="searchbox" class="container p-3 mt-4">
        <h3>Search Library</h3>
        <div class="input-group">
            <input class="form-control" id="searchbox_input" type="search" runat="server" placeholder="Book Name / Author / ISBN" />
            <div class="input-group-append">
                <button class="btn input-group-text" id="search_btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </section>

    <section id="product-carousel" class="container p-3 mt-4">
        <h3>Hot reads</h3>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_1">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_2">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_3">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_4">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_5">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_6">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_7">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_8">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_9">Borrow</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card">
                        <img src="~/lib/resources/books/b1.jpg" alt="img" class="card-img-top" />
                        <div class="card-body">
                            <h4>The Power of Your Subconsioucs Mind</h4>
                            <h5>$<span class="text-center">45.00</span></h5>
                            <button class="btn btn-primary btn-sm" id="c_btn_10">Borrow</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>
        $(document).ready(function()
        {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                navText: ["<i class='far fa-arrow-alt-circle-left'></i>", "<i class='far fa-arrow-alt-circle-right'></i>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        });            
    </script>
</div>
